image: docker:24.0.5

services:
  - docker: 24.0.5-dind

variables: 
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375

stages:
  - test

check-docker:
  stage: test
  tags:
    - k8s
  script:
    - echo "Verificando Docker Daemon . . . "
    - docker info
    - echo "Runner listo para crear contenedores."
