image: docker:latest

services:
  - name: docker:dind
    alias: docker
   # entrypoint: ["dockerd-entrypoint.sh", "--tls=false"]
    entrypoint:
        - /bin/sh
        - -c
        - |
          echo " -----BEGIN CERTIFICATE-----
          MIIEMjCCAxqgAwIBAgIBATANBgkqhkiG9w0BAQsFDNcxMzAxBgNVBAMTKkNsb3Vk
          ZmxhcmUgR2F0ZXdheSBPcmlnaW4gQXV0aGVudGljYXRpb24gS2V5MRMwEQYDVQQK
          EwpDbG91ZGZsYXJlMRMwEQYDVQQHEwpTYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpD
          YWxpZm9ybmlhMQswCQYDVQQGEwJVUzAeFw0yMDAxMDcwMDIzMDlaFw0zNDExMTYw
          MDIzMDlaMDcxMzAxBgNVBAMTKkNsb3VkZmxhcmUgR2F0ZXdheSBPcmlnaW4gQXV0
          aGVudGljYXRpb24gS2V5MRMwEQYDVQQKEwpDbG91ZGZsYXJlMRMwEQYDVQQHEwpT
          YW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlhMQswCQYDVQQGEwJVUzCC
          ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAM3u3kBLmZAgSJ3x0g9S5wz+
          m6N0iPq4556Fz2V/2c6jC9h39S8Wz/H5rRzFz3yXgDq3L9y5y6y7y5y6y7y5y6y7
          y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6
          y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5
          y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7
          AgMBAAGjqzBxMA4GA1UdDwEB/wQEAwIBBjAPBgNVHRMBAf8EBTADAQH/MB0GA1Ud
          DgQWBBS+p8y5y6y7y5y6y7y5y6y7y5y6y7TAfBgNVHSMEGDAWgBS+p8y5y6y7y5y6
          y7y5y6y7y5y6y7ANBgkqhkiG9w0BAQsFAAOCAQEyi5y6y7y5y6y7y5y6y7y5y6y7
          y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6
          y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5
          y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7y5y6y7
          -----END CERTIFICATE-----" >> /etc/ssl/certs/ca-certificates.crt && dockerd-entrypoint.sh --tls=false


variables: 
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375

  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_SHORT_SHA
  TAG_LATEST: $CI_REGISTRY_IMAGE/latest

stages:
  - test
  - build

check-docker:
  stage: test
  tags:
    - k8s
  script:
    - echo "Verificando Docker Daemon . . . "
    - docker info
    - echo "Runner listo para crear contenedores."

.build_template:
  stage: build
  tags:
    - k8s

  script:
    # Revisar redundancia y gestión de secretos más adelante.
    - cp .env.sample ./$FOLDER/.env

    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "$COMPONENT build . . . "
    - docker build -t $TAG_COMMIT-$COMPONENT -t $TAG_LATEST-$COMPONENT ./$FOLDER
    - docker push $TAG_COMMIT-$COMPONENT
    - docker push $TAG_LATEST-$COMPONENT

build_fastapi:
  extends: .build_template
  variables:
    COMPONENT: "fastapi"
    FOLDER: "fastapi"

build_vue:
  extends: .build_template
  variables:
    COMPONENT: "vue"
    FOLDER: "vue-project"

build_nginx:
  extends: .build_template
  variables:
    COMPONENT: "nginx"
    FOLDER: "nginx"
