image: docker:latest

services:
  - name: docker:dind
    alias: docker
    entrypoint: ["dockerd-entrypoint.sh", "--tls=false", "--ipv6=false", "--dns=1.1.1.1", "--dns=8.8.8.8"]

variables: 
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375

  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_SHORT_SHA
  TAG_LATEST: $CI_REGISTRY_IMAGE/latest
  
  DICKER_BUILDKIT: "0"
  COMPOSE_DOCKER_CLI_BUILD: "0"

stages:
  - test
  - build

check-docker:
  stage: test
  tags:
    - k8s
  script:
    - echo "Verificando Docker Daemon . . . "
    - docker info
    - echo "Runner listo para crear contenedores."

.build_template:
  stage: build
  tags:
    - k8s

  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - echo "$COMPONENT build . . . "
    - docker build -t $TAG_COMMIT-$COMPONENT -t $TAG_LATEST-$COMPONENT ./$FOLDER
    - docker push $TAG_COMMIT-$COMPONENT
    - docker push $TAG_LATEST-$COMPONENT

build_fastapi:
  extends: .build_template
  variables:
    COMPONENT: "fastapi"
    FOLDER: "fastapi"

build_vue:
  extends: .build_template
  variables:
    COMPONENT: "vue"
    FOLDER: "vue-project"

build_nginx:
  extends: .build_template
  variables:
    COMPONENT: "nginx"
    FOLDER: "nginx"
    
tls-smoke:
  image: docker:latest
  stage: test
  tags: 
    - k8s
  services:
    - name: docker:dind
      alias: docker
      entrypoint: ["dockerd-entrypoint.sh", "--tls=false", "--ipv6=false"]
  variables:
    DOCKER_TLS_CERTDIR: ""
    DOCKER_HOST: tcp://docker:2375
  script:
    - apk add --no-cache ca-certificates openssl curl bind-tools
    - date -Is
    - echo "DNS:"; nslookup registry-1.docker.io || true
    - echo "TLS curl:"; curl -svI https://registry-1.docker.io/v2/ 2>&1 | tail -n 30
    - echo "TLS openssl:"
    - echo | openssl s_client -connect registry-1.docker.io:443 -servername registry-1.docker.io -tls1_2 2>/dev/null | head -n 25
