image: docker:latest

#services:
#  - docker:dind
services:
  - name: docker:dind
    command: ["--tls=false"]

stages:
  - build
  - test
  - deploy

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

build_image:
  stage: build
  script:
    - cp .env.sample .env
    - docker compose build

integration_test:
  stage: test
  script:
    - cp .env.sample .env
    - docker compose up -d --wait
    - docker compose ps
    # usamos curl para hacer peticiones HTTP
    - apk add --no-cache curl
    - curl -f http://docker:80

push_to_registry:
  stage: deploy
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

    # Backend
    - docker build -t $CI_REGISTRY_IMAGE/fastapi:latest ./fastapi
    - docker push $CI_REGISTRY_IMAGE/fastapi:latest

    # Frontend
    - docker build -t $CI_REGISTRY_IMAGE/vue:latest ./vue-project
    - docker push $CI_REGISTRY_IMAGE/vue:latest

    # Nginx
    - docker build -t $CI_REGISTRY_IMAGE/nginx:latest ./nginx
    - docker push $CI_REGISTRY_IMAGE/nginx:latest