image: docker:24.0.5

services:
  - name: docker:24.0.5-dind
    command: ["--tls=false"]

stages:
  - build
  - test
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: "" 
  DOCKER_DRIVER: overlay2
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

# FASE 1: BUILD
build_check:
  stage: build
  script:
    - echo "Comprobando construcción de imágenes..."
    - docker build -t test-fastapi ./fastapi
    - docker build -t test-vue ./vue-project

# FASE 2: TEST DE INTEGRACIÓN
integration_test:
  stage: test
  script:
    - echo "Lanzando entorno de pruebas..."
    - apk add --no-cache docker-compose-plugin
    
    - cp .env.sample .env
    - docker compose up -d --wait
    - docker compose ps
    
    - apk add --no-cache curl
    
    # Probamos conexión al contenedor nginx levantado por compose
    - curl -v http://docker:80 || echo "Si falla aquí, revisaremos la red de dind"

# FASE 3: DEPLOY 
push_to_registry:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - echo "Subiendo imágenes al registro..."
    
    # Backend
    - docker build -t $CI_REGISTRY_IMAGE/fastapi:latest ./fastapi
    - docker push $CI_REGISTRY_IMAGE/fastapi:latest

    # Frontend
    - docker build -t $CI_REGISTRY_IMAGE/vue:latest ./vue-project
    - docker push $CI_REGISTRY_IMAGE/vue:latest
    
    # Nginx
    - docker build -t $CI_REGISTRY_IMAGE/nginx:latest ./nginx
    - docker push $CI_REGISTRY_IMAGE/nginx:latest